[submodule "blockchain-contract"]
	path = blockchain-contract
	url = https://shadofren@gitlab.com/shadofren/blockchain-contract.git
[submodule "OP"]
	path = OP
	url = https://shadofren@gitlab.com/shadofren/OP.git
[submodule "OEM"]
	path = OEM
	url = https://shadofren@gitlab.com/shadofren/OEM.git
[submodule "MRO"]
	path = MRO
	url = https://shadofren@gitlab.com/shadofren/MRO.git
[submodule "mean_seed"]
	path = mean_seed
	url = https://LifeArchitect@gitlab.com/LifeArchitect/mean_seed.git
[submodule "shekkar_boiler"]
	path = shekkar_boiler
	url = https://shadofren@gitlab.com/shadofren/shekkhar_boiler.git
